

body
{
    /* background:url(../imagenes/main/bg2-.jpg) no-repeat;
    background: -moz-linear-gradient(top, blue, white);
    width:1365px;
    height:670px;
    margin-top:30px;
    font-size:13px;
    font-family:Tahoma;
    color:#333;
    padding:0;
    
    ------------
    width:1365px;
    height:670px;
    
    color::::::-> #17294b
    
    */
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    
    background: -moz-linear-gradient(top,  white, #088DD1 );
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#088DD1));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#088DD1',GradientType=0 );
    height:670px;

}
#loginstyle
{
    background-color: transparent ; 
    border-radius: 10px; 
    box-shadow:0px 0px 10px rgba(0,0,0,1);
}

#header,
#sub-headline,
#nav-container,
#breadcrumb,
.container,
.container1,
.grid,footer,
.callout .grid
{
    position:relative;
    display:block;
    width:960px;
    margin:0 auto;
}

.jFlowSlideContainer a{
    color:#F90;
    text-decoration:none
}
.jFlowSlideContainer a:hover{
    text-decoration:none
}

.jFlowSlideContainer a:focus{
    position:relative;
    top:1px
}

.jFlowNext div{
    background:url(../imagenes/gl_presentation/arrows.png) no-repeat scroll 0 -35px transparent;
    height:130px;
    position:absolute;
    top:110px;
    right:-50px;
    width:50px;
    cursor:pointer
}

.jFlowPrev div
{
    background:url(../imagenes/gl_presentation/arrows.png) no-repeat scroll -84px -35px transparent;
    height:130px;
    position:absolute;
    top:110px;
    left:-50px;
    width:50px;
    cursor:pointer
}

.jFlowPrev div:hover
{
    
    background-position:-84px -235px
}






